---
import ArrowLeft from "../../icons/ArrowLeft.astro";


---
<script>
  //Colocar el header con fondo oscuro al hacer scroll
  if (typeof window !== "undefined") {
    window.addEventListener("scroll", () => {
      const header = document.querySelector("header");
      if (window.scrollY > 10) {
        header?.classList.add("bg-neutral-950/30", "backdrop-blur-md", "shadow-md");
      } else {
        header?.classList.remove("bg-neutral-950/30", "backdrop-blur-md", "shadow-md");
      }
    });
  }
</script>

<header class="w-full px-4 py-5 flex justify-between md:justify-around items-center  mx-auto fixed top-0 z-50 transition-all duration-300  ">
  <!-- Foto de perfil -->
   <a href="/">
        <img
        loading="lazy"
        class="rounded-full size-12"
        src="/fotoPerfil.avif"
        alt="Foto de perfil"
        />
    </a>
  

    <a href="/" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] border-gray-600 text-gray-400 hover:text-white hover:bg-gray-700 text-center inline-flex items-center">
      <ArrowLeft class="size-5 mr-1"></ArrowLeft>
      Volver
    </a>

</header>
