---
import { getCollection } from 'astro:content';
import ExperienceItem from "../ui/ExperienceItem.astro"
import { getLangFromUrl } from '../../i18n/ui';

const lang = getLangFromUrl(Astro.url);

const entries = await getCollection('experience');

// Se aplana cada entrada al idioma actual para que <ExperienceItem />
// siga recibiendo strings planos, sin cambios en ese componente.
const experience = entries
    .map(({ data }) => data)
    .sort((a, b) => a.order - b.order)
    .map(({ empresa, lugar, date, cargo, descripcion }) => ({
        empresa,
        lugar,
        date: date[lang],
        cargo: cargo[lang],
        descripcion: descripcion[lang],
    }));
---

<ol class="relative border-s border-gray-700 ml-3">   
    
    {
        experience.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}></ExperienceItem>
            </li>
        ))
    }             
   
</ol>