---
import { getLangFromUrl, useTranslations } from '../../i18n/ui';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<article class="max-w-4xl mx-auto px-4 flex flex-col md:flex-row items-center gap-4 lg:gap-10">
    <img
      loading="lazy"
      src="/fotoPerfilSobremi.avif"
      alt={t('about.alt')}
      class="size-45 lg:size-55 rounded-full border-2 border-cyan-100 shadow-lg object-cover"
    />
    <div class="flex-1 space-y-4">
      <p class="text-white" set:html={t('about.p1')} />
      <p class="text-white" set:html={t('about.p2')} />
      <p class="text-white" set:html={t('about.p3')} />
      <p class="text-white" set:html={t('about.p4')} />
    </div>
</article>