---
import ArrowLeft from "../icons/ArrowLeft.astro";


---
<script>
  //Colocar el header con fondo oscuro al hacer scroll
  if (typeof window !== "undefined") {
    window.addEventListener("scroll", () => {
      const header = document.querySelector("header");
      if (window.scrollY > 10) {
        header?.classList.add("bg-neutral-950/30", "backdrop-blur-md", "shadow-md");
      } else {
        header?.classList.remove("bg-neutral-950/30", "backdrop-blur-md", "shadow-md");
      }
    });
  }
</script>

<header class="w-full px-4 py-5 flex justify-between md:justify-around items-center  mx-auto fixed top-0 z-50 transition-all duration-300  ">
  <!-- Foto de perfil -->
   <a href="/">
        <img
        class="rounded-full size-12"
        src="https://media.licdn.com/dms/image/v2/D4E03AQHNBUf5Wdcvyw/profile-displayphoto-shrink_800_800/B4EZPfTx_OHkAg-/0/1734618325800?e=1753315200&v=beta&t=Xy4wyIqG4y38AvjhdxyhxkfOgL0Vlflldj-I6f2upbA"
        alt="Foto de perfil"
        />
    </a>
  

    <a href="/" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 text-center inline-flex items-center">
      <ArrowLeft class="size-5 mr-1"></ArrowLeft>
      Volver
    </a>

</header>
