---
const { images, imagesMobile } = Astro.props;

// Agrupar de 3 en 3
const chunkedImages = [];
for (let i = 0; i < images.length; i += 2) {
  chunkedImages.push(images.slice(i, i + 2));
}

// const imagenMobile = imagesMobile[1];

//Resultado
// [
//   ["img1", "img2", "img3"],
//   ["img4", "img5", "img6"],
//   ["img7", "img8", "img9"]
// ]
---

<!-- <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
  {images.map((img: string | null | undefined, i: number) => (
    <img src={img} alt={`Imagen ${i + 1}`} class="rounded-xl shadow-md" loading="lazy" />
  ))}
</div> -->


<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  <!-- Mostrar grupos de a tres imagenes -->
  {images.map((img: string | null | undefined) => (
    <div class="grid gap-4">
        <div>
          <img loading="lazy" class="h-auto max-w-full rounded-lg" src={img} alt="Image" />
        </div>
    </div>
  ))}
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">

  {imagesMobile.map((img: string | null | undefined) => (

        <div class="relative mx-auto border-gray-700 bg-gray-700 border-[10px] rounded-[2rem] md:border-[14px] md:rounded-[2.5rem] shadow-xl mt-5
              w-[200px] h-[400px]  md:w-[300px] md:h-[600px]">

            <!-- Botón superior (borde superior del teléfono) -->
            <div class="absolute top-0 left-1/2 -translate-x-1/2 bg-gray-700 rounded-b-[0.75rem]
                        w-[100px] h-[14px]  md:w-[148px] md:h-[18px]">
            </div>

            <!-- Botones laterales (izquierda) -->
            <div class="absolute bg-gray-700 rounded-s-lg
                        w-[2px] h-[32px]  md:w-[3px] md:h-[46px] 
                        -start-[12px] md:-start-[17px] top-[80px] md:top-[124px]">
            </div>
            <div class="absolute bg-gray-700 rounded-s-lg
                        w-[2px] h-[32px]  md:w-[3px] md:h-[46px] 
                        -start-[12px] md:-start-[17px] top-[120px]  md:top-[178px]">
            </div>

            <!-- Botón lateral (derecha) -->
            <div class="absolute bg-gray-700 rounded-e-lg
                        w-[2px] h-[48px]  md:w-[3px] md:h-[64px]
                        -end-[12px] md:-end-[17px] top-[100px]  md:top-[142px]">
            </div>

            <!-- Pantalla -->
            <div class="overflow-hidden rounded-[1.5rem] bg-gray-800
                        w-[180px] h-[380px]  md:w-[272px] md:h-[572px]">
              <img loading="lazy" src={img} class="w-full h-full object-cover" alt="imagenMobile" />
            </div>
          </div>
    ))}
</div>




