<article class="max-w-4xl mx-auto px-4 flex flex-col md:flex-row items-center gap-4 lg:gap-10">
    <!-- <p>Ingeniero de sistemas apasionado por la tecnología y la innovación en el desarrollo de software.
Cuento con experiencia en la creación de sitios web funcionales y escalables, utilizando tecnologías como HTML, CSS, SASS, PHP, JavaScript, TypeScript, .NET, Angular y Node.js. Con experiencia en lenguajes de programación como Python, PHP, Java y C#.

Mi enfoque está en ofrecer soluciones eficientes que cumplan con las necesidades de los clientes. Tengo una sólida orientación hacia la experiencia del usuario (UX/UI), garantizando interfaces intuitivas y atractivas.

Entre mis áreas de experiencia se incluyen el desarrollo FrontEnd con un enfoque en rendimiento y diseño, la creación de sistemas dinámicos y adaptables, y la colaboración en equipos bajo metodologías ágiles.

Mi objetivo es generar soluciones prácticas y sostenibles que aporten valor a largo plazo, contribuyendo al crecimiento de las organizaciones mediante soluciones tecnológicas innovadoras.</p> -->

 <!-- Imagen opcional -->
    <img 
      loading="lazy"
      src="/fotoPerfilSobremi.avif"
      alt="Foto de Joseph"
      class="size-45 lg:size-55 rounded-full border-2 border-cyan-100 shadow-lg object-cover"
    />

    <!-- Texto -->
    <div class="flex-1 space-y-4">
      <!-- <h2 class="text-3xl font-bold text-indigo-400">Sobre mí</h2> -->
      <p class="text-white">
        Soy <span class="font-bold text-white">Joseph</span>, Ingeniero de Sistemas, desarrollador web y emprendedor. Cuento con experiencia en el diseño y la implementación de <span class="font-bold text-white">sitios web modernos.</span> 
        Me apasiona crear experiencias digitales accesibles, eficientes y visualmente atractivas.
      </p>
      <!-- <p>
        Trabajo principalmente con tecnologías como <span class="text-indigo-300">React, JavaScript, Tailwind, Node.js</span>, y también tengo experiencia con backend en .NET y bases de datos SQL.
      </p> -->
      <p class="text-white">
        Me caracterizo por ser proactivo, comprometido con la calidad del código y siempre en constante aprendizaje.
      </p>
      <p class="text-white">
        Fuera del mundo tecnologico, tenemos junto con mi hermano una empresa de venta en línea de perfumeria.
      </p>
    </div>
</article>